.custom-shape-divider-top-1634464976 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1634464976 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-top-1634464976 .shape-fill {
    fill: #FFFFFF;
}










.footer{
    direction: rtl;
    width: 100%;
    height: 500px;
    background-color: #61CE70;

    

}
.container-footer{
    width: 85%;
    margin: 10px auto;
}
.sec1footer{
    display: grid;

}
.sec1footer{

    display: grid;
    grid-template-columns: 10% 80% 10%;

    
}
.sec2footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5%;
    margin: 20px 0;
    color: white;

}
.footer-ul{
    list-style-type: none;
    color: white;
    margin: 90px auto 0 auto;
    


}
.footer-li{
    float: right;
    list-style-type: none;
    color: white;
    padding: 20;
    
}
.li-a {
    display: block;
    text-decoration: none;
    color: white;
}
.logo-img{
    display: block;
    margin: 90px auto 0 auto;
}
.mother-nemad{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;

}
.nemad-footer1{
    width: 100px;
    height: 130px;
    background-color: white;
    border-radius: 30px;

}
.nemad-footer2{
    width: 100px;
    height: 130px;
    background-color: white;
    border-radius: 30px;

}
.nemad-footer3{
    width: 100px;
    height: 130px;
    background-color: white;
    border-radius: 30px;

}
.social-mother{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 60%;
    grid-gap: 2%;
}
.down-the-footer{
    display: block;
    text-align: center;
    margin: 0;
    color: white;
}
.footer-hr{
    margin-top: -15;
    opacity: 0.4;
}
.social{
    width: 40px;
    height: 40px;
}
.eshterak-footer{
    width: 40%;
    height: 150px;
    background-color: #61CE70;
}